.container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 16px 8px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text {
  display: flex;
  width: 200px;

  gap: 2px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.btn {
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
}
