.container {
  border: 1px solid var(--deep-blue);
  border-radius: 4px;
  padding: 16px 8px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text {
  display: flex;
  width: 200px;
  color: var(--dark-blue);

  gap: 2px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.icon {
  fill: var(--dark-blue);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.btn {
  font-size: 16px;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--deep-blue);
  color: var(--light-blue);

  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--dark-blue);
}
