.nav {
  display: flex;
  gap: 15px;
}

.link {
  text-decoration: none;
  padding: 6px 12px;
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  transition: color 100ms linear;
}

.active {
  color: #000000fd;
  text-shadow: 2px 2px 3px #1976d2;
}
